body {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.episodeItems {
  display: grid;
  color: white;
  font-size: xx-large;
  font-family: fantasy;
  border-bottom: 0.5px solid gray;
  width: 50%;
  gap: 1ch;
}

.episodeItems:hover {
  font-style: italic;
  font-weight: bold;
}

h1 {
  color: white;
}

.episodeDetails {
  color: white;
  grid-column: 2;
  font-weight: bold;
}
